@import url(menu.css);
@import url(banner.css);
@import url(productos.css);
@import url(footer.css);
section{
  width: 100%;
  margin-bottom: 25px;
}
.contenedor {
  width: 98%;
}
a:hover{
color:#e7434e ;
}
.ventana1 {
width: 100%;
height: 100%;
color: #fff;
position:fixed;
background-color: rgba(0,0,0,0.9);
top: 0;
left: 0;
display:none;
z-index: 22;
}
.formulario{
  width: 400px;
  height: 580px;
  padding: 25px;
  background-color:rgb(87, 120, 112) ;
top: 50%;
left: 50%;
position: absolute;
margin-left: -175px;
margin-top: -280px;
z-index: 42;

}
.registro {
  width: 400px;
  height: 610px;
  padding: 25px;
  background-color:rgb(87, 120, 112) ;
top: 50%;
left: 50%;
position:absolute;
margin-left: -175px;
margin-top: -340px;
display: none;
z-index: 42;
}
.lostpass {
  width: 400px;
  height: 400px;
  padding: 25px;
  background-color:rgb(87, 120, 112) ;
top: 50%;
left: 50%;
position:absolute;
margin-left: -175px;
margin-top: -250px;
display: none;
z-index: 40;
}
