#productos .contenedor{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#productos article {
  margin: 10px;

}
#productos img {
  width: auto;
  height: 200px;
  padding: 10px;
  margin: 10px;
}
#productos h3, h4{
  text-align: center;
  max-width: 200px;

}
